; An example how to run `luxws-exporter` on systemd.
; Adapt at least `ExecStart` below to your environment and copy this file to
; /etc/systemd/system/.
[Unit]
Description=Prometheus exporter for working with heat pump controllers from Alpha Innotec and other manufacturers. https://github.com/hansmi/wp2reg-luxws
; Start after the network has been configured
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/wp2reg-luxws-exporter
Type=simple
ExecStart=/usr/local/sbin/luxws-exporter $WP2REG_LUXWS_EXPORTER_ARGS
Restart=always
; The fields below are optional, but strongly recommended: The service is put
; into an empty runtime directory chroot, i.e. the runtime directory which
; usually resides under /run. See also https://unix.stackexchange.com/q/635027/22339
DynamicUser=yes
User=luxws-exporter
Group=luxws-exporter
RuntimeDirectory=luxws-exporter

[Install]
WantedBy=multi-user.target
