name: Run tests

on:
  workflow_dispatch:
  pull_request:
  push:

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runs-on: ["ubuntu-latest", "windows-latest"]
    uses: hansmi/ghactions-go-test-workflow/.github/workflows/test.yaml@v0.2
    with:
      runs-on: ${{ matrix.runs-on }}

# vim: set sw=2 sts=2 et :
